In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_stata("..\ACASA\ACASA_mlw_zam_zim.dta")
df.head()

,interview__key,interview__id,agroeco,district,camp_sect,village,gender_resp,own_land,typical_mzyield_with_fert,typical_mzyield_without_fert,...,used_mulch_rev,used_rot_rev,used_intcrp_rev,asset_quartile,hire_cost_ha_usd,hire_cost_kg_usd,district_name,pop_density,mkt_access,country
0,00-01-49-37,26b7d5549a624bd08972eb22badf2be3,"Lakeshore, mid and upper shire (200 – 760 m asl)",Nkhotakota,Mwansambo Central,KWENDANGOWO,Female,yes,800.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,Malawi
1,00-03-42-07,21a8e9233c144e67bde5ec40277a1083,Lower shire valley (&lt;250 m asl),Nsanje,Chilikha,JOFILISI,Male,yes,500.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,Malawi
2,00-04-18-37,9b81f92afd3349cdb7f31fc090425410,Highlands (&gt;1300 m asl),Zomba,Ramusi,Kotima,Female,yes,700.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,Malawi
3,00-06-96-44,7e354c7ec7b94ef7950d8701ad620700,"Lakeshore, mid and upper shire (200 – 760 m asl)",Nkhotakota,Chiondo,KAJALIZA,Female,yes,700.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,Malawi
4,00-13-29-60,e38dd24a479f41078d2833a45b269172,Highlands (&gt;1300 m asl),Chitipa,Mwamkumbwa,LAZARO,Male,yes,1080.0,315.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,Malawi